/* main.css */
@import 'variables.css';
@import 'typography.css';
@import 'spacing.css';
@import 'raspberry.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none; /* Empêche la sélection */
}

html,
body {
  background-color: var(--background-neutral);
  color: var(--text);
  overflow: hidden;
  height: 100svh;
  margin: 0;
  padding: 0;
  touch-action: none;
}

button {
  transition: filter 0.2s ease-in-out;
  touch-action: manipulation;
}

button:active {
  filter: brightness(90%);
}

img {
  user-select: none; 
  pointer-events: none;
}