@media screen and (width: 1024px) and (height: 600px) {
    * {
        cursor: none !important;
    }
    .warm-filter {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(255, 140, 0, 0.2);
        pointer-events: none;
        mix-blend-mode:multiply;
        z-index: 9999;
      }
    .main-view {
        /* fix screen position in the case */
        transform: translateX(-5px); 
    }
}