:root {
    --text: #171917;
    --text-secondary: #767C76;
    --text-light: #A6ACA6;
    --text-contrast: #FFFFFF;
    --background: #F7F7F7;
    --background-strong: #F2F2F2;
    --background-neutral: #FFFFFF;
  }
  
